<ion-header > 
  <ion-toolbar class="gl-cabe">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-menu "  >
    <div class="sobrecima">
    <ion-card class="item">
     
        
        <ion-card-header>
          
          <ion-card-title >{{ animal?.nome }}</ion-card-title>
         
        </ion-card-header>
      
        <ion-card-content>
              <div class="texto">
                      <ion-row > raça:{{ animal?.raca}}  </ion-row>
                      <ion-row>cor:{{ animal?.cor}} </ion-row>
                      <ion-row >porte:{{ animal?.porte}}  </ion-row>
                      <ion-row >tipo:{{ animal?.tipo}} </ion-row>

                      <ion-row *ngFor="let usu of usuario" value="usu.uid">
                              <div *ngIf="adotaUid == usu.loginUid">

                              <ion-input [(ngModel)]="adotados.donoUid" >{{usu.nome}} deseja adotar?</ion-input>
                              <ion-row> 
                                <ion-button color="danger"(click)="adotar(usu)">Adotar</ion-button>   
                              </ion-row>
                              
                            </div>
                      
                      </ion-row>
                
              
                
              </div>


         </ion-card-content> 
       
    </ion-card>
        
       


  </div>
 </div>
  
</ion-content>

