
<ion-content >
  
  <!--LOGIN-->
  <div class="bg-login">
       
     
        <div class="sobrecima">
         <!-- conteudo do login -->
          <div>
           
            <!--logo-->
            <div class="center">
              <img src='./assets/images/mod1.png' class='logo'><img>
               
                <h5 class="entrar" color="light">Entrar</h5>
            </div>
           
            <!--form e but-->
             <div class="tamanho">
                <ion-row class="alterInput">
                  <ion-input [(ngModel)]="usuario.email" placeholder="Digite seu E-mail"></ion-input>
                </ion-row>

                <ion-row class="alterInput mg-top-10">
                  <ion-input [(ngModel)]="usuario.password" type="password" placeholder="Digite a sua senha"></ion-input>
                </ion-row>
                <!-- butao login-->
                <div class="butlogin center mg-top-30" (click)="entrar()">
                  ENTRAR
                </div> 
                <!-- nova conta-->
                <div class="txtnovac center mg-top-10"(click)="register()">
                Quero criar uma nova conta
             </div>
  
             </div>

          </div>

        </div>

  </div>


</ion-content>
