
<ion-header > 
  <ion-toolbar class="gl-cabe">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Menu</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <div *ngIf="!loading" class="bg-menu" >
    <div class="sobrecima">
      
     <div>
        <ion-card *ngFor="let animal of animais"class="item">
        <ion-item >
          
          <ion-label>{{ animal.nome }}</ion-label>
          <div class="BUT" (click)="visuanimal(animal)">visualizar</div>
        </ion-item>
      
        <ion-card-content>
          {{ animal.tipo }}
        </ion-card-content>
      </ion-card>
     </div>
    </div>
  </div>
  <div *ngIf="loading">
    <p>Aguarde...</p>
  </div>
</ion-content>

